
 body{
    padding: 0%;
    margin: 0%;
}
#maindiv{
    width: 100vw;
    height: 100vh;
    background-color: #C7FA73;
    
    background-image: url("data:image/svg+xml,%3Csvg width='1860' height='1900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1063.43 12.6364c367.16 45.007 687.98 304.0646 794.88 679.0506 3.46 11.402-3.7 23.608-15.24 26.616l-57.69 15.041c120.54 462.306-157.08 934.396-619.51 1054.966l15.02 57.61c3.01 11.53-4.16 23.73-15.82 26.28-49.7 11.73-99.44 19.33-148.84 23-22.388 3.12-49.462 4.71-81.749 4.71-444.176 0-809.937-314.15-908.1237-729.65-.0771-.29-.1482-.58-.213-.88-10.7156-45.42-17.9662-90.87-21.9148-136.07C1.6958 1004.77.4023.3519.4023.3519H948.027c50.826 0 88.603 4.2072 115.403 12.2845z' fill='%23fff'/%3E%3C/svg%3E");
    background-size: 90%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:-380px -200px;
}




#parent{
    height: 50px;
    width: 20%;
    border: opx;
}
#parent img{
    margin-left: 40px;
    margin-top: 20px;
}
#parent1 img{
    width: 50%;
  
    height: 100%;
   margin-right: -120px;
}
#parent1{
    width: 200%;
    margin-top: -60px;
    height: 1000px;

}
#imagewidth{
    width: 60%;
    margin-left: 180px;
    margin-top: 80px;
}
#day{
    font-family: Factor A,sans-serif;  
    font-size: 24px;
    font-weight: 700;
}
#parent2, #cvc{
    display: grid;
    grid-template-columns: repeat(2,1fr);


}
#input{
    width: 50%;
    height: 400px;
    border: 0px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 200px;
    margin-left: 200px;
}
.input1:focus{
    outline: none;
border-color:#80bdff;

}
.input1{
    border-radius: 6px;
    padding: 8px 12px;
    border-color: #63abee;
    border: 1px solid #a6b0b3;
    margin-top: 20px;
    width: 100%;
}
.input2{
    width: 50%;
    text-align: center;
   
}
.input3{
    width: 70%;
    text-align: center;
}
.icon{
    padding-left: 35px;
    background: url("https://static.vecteezy.com/system/resources/previews/005/545/335/non_2x/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg") no-repeat left;
    background-size: 35px;
}
.select2{
    height: 42px;
    --font-size-xl: 16px;
    border-radius: 4px;
    padding: 0 8px 0 12px;
    border: 1px solid #a6b0b3;
    width: 100%;
    margin-top: 20px;
}
#btn{
    background-color: #fc6c34;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
    --font-family-regular: Inter,sans-serif;
    margin-top: 20px;
    height: 42px;
    text-align: center;
    width: 50%;
    border: 0;
    margin-left: 70px;
}
#line1{
    margin-top: 30px;
}
#last{
    display: grid;
    grid-template-columns: repeat(2,1fr);
justify-content: space-evenly;

}
#lastp{
    color:#6c6e79 ;
   margin-bottom: -30px;
}
#lock{
    width: 20%;
}
#lastp1{
    margin-left: -120px;
}

