@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Nunito:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

.smallandmedscreen{
    display:none;
    }

                        * {
                            margin: 0;
                            padding: 0;
                            font-family: 'Inter',sans-serif;
font-family: 'Nunito', sans-serif;
                         }
                        
                        .main {
                            height:75%;
                            width: 90%;
                            position: absolute;
                            left:50%;
                            top:50%;
                            transform:translate(-50%,-50%);
                        }
                        
                        .mainup {
                            height: 19%;
                            width: 96%;
                            margin:7px auto 32px auto;
                            display: flex;
                            justify-content: space-between;
                            
                        }
                        
                        .mainupfirst {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    
                        .signupbtn{
                            display: flex;
                            justify-content: center;
                            align-self:flex-end;
                        }
                        #buttondowntxt{
                            display:flex;
                            flex-wrap: wrap;
                        }
                        .contbtn{
                            border: 1px solid #898D9A;
                            height:43px;
                            width:170px;
                            border-radius: 7px;
                            color:#898D9A;
                            background-color:#111317;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size:medium;
                            font-family:sans-serif;
                            font-weight:500;
                        }
                        #emaillogo{
                            color:#898D9A;
                            background-color: #898D9A;
                            height:20px;
                            width:20px;
                            margin-right: 5px;
                        }     
                        .contbtn>img>p{
                            margin-left:4px;
                            text-decoration: none;
                        }
                        .mainupsec{
                            height: 29%;
                            width: 62%;
                            margin-left:25px;
                            color:#898D9A;
                            font-size: 12px;
                        }         
                        .mainlast{
                            height:100%;
                            width: 29.5%;
                            margin-bottom: 16px;
                            display: flex;
                            flex-wrap: wrap;
                            text-align: center;
                            justify-content: center;
                            margin:0 0 0 16px;
                        }
                        .mainlast>a{
                            text-decoration: none;
                            height: 42px;
                            width: 338px;
                            min-height: auto;
                            min-width: auto;
                        }
                        .signupbtn{
                            height:100%;
                            width:100%;
                            text-align: center;
                            background-color:#00bc98;
                            color:white;
                            border-radius: 8px;
                            font-size: 16px;
                            line-height: 19px;
                            box-sizing: border-box;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                        }
                        
                        #btndowntxt>u{
                            font-size: 12px;
                            font-weight:700;
                            color:#898D9A;
                            font-style: bold;
                        }
                        .signupbtn:hover{
                            background-color:#008275;
                        }
                        .maindown{
                            height:70%;
                            width: 95%;
                            display: flex;
                            margin-left:auto;
                            margin-right:auto;
                            justify-content: space-between;
                        }
                        ul{
                            list-style:none;
                        }
                        h4{
                            font-size:12px;

                        }
                        .semrush{
                            height:auto;
                            width:auto;
                            color: #898D9A;

                        }
                        .helpcom{
                            height: auto;
                            width: auto;
                            color: #898D9A;

                        }
                        .help{
                            margin-bottom:30px;
                        }
                    
                        .more{
                            height: auto;
                            width: auto;
                            color: #898D9A;
                        }
                        .company{
                            height: auto;
                            width: auto;
                        }
                        .followus {
                            height: auto;
                            width: auto;
                            color: #898D9A;
                        }
                        .language{
                            height: auto;
                            width: auto;
                            color: #898D9A;
                        }
                        .parent{
                            color:white;
                        }
                        .child{
                            color: #898D9A;
                        }
                        .footerup {
                            width: 100%;
                            height: 536px;
                            background-color: #111317;
                            position: relative;
                        }
                        
                        .footerdown {
                            width: 100%;
                            height: 70px;
                            background-color: black;
                            position: relative;
                        }
                        
                        .footdownlow {
                            height: 40px;
                            width: 85%;
                            position: relative;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            display: flex;
                        }
                        
                        .innerlow {
                            height: 40px;
                            width: 22%;
                            display: flex;
                            margin-right: 20px;
                        }
                        .semrushlogo{
                            height:45px;
                            width:170px;
                            background-color:black;
                        }
                        
                        #footertext2 {
                            color: #898D9A;
                            font-size: 11px;
                            height:auto;
                            width:auto;
                            display:flex;
                            align-items: center;
                            margin-right: 10px;
                        }
                        .child ul li a{
                            color:#898D9A;
                            text-decoration: none;
                            font-size: 12px;
                            margin-bottom: 5px;
                        }
                        .child ul li a:hover{
                            color:white;
                        }
                        .mainupfirst>a{
                            text-decoration: none;
                        }
                        .contbtn:hover{
                            color:white;
                            border:1px solid white;
                        }
                        #emaillogo:hover{
                            color:white;
                        }
                        #btndowntxt>u:hover{
                            color:white;
                            text-decoration: none;
                        }
                        i{
                            margin-bottom: 10px;
                        }
                        

                        @media screen and (max-width:699px){
                            /* .smallandmedscreen{
                            display:block;
                            } */
                            .smallandmedscreen{
                                height:60vh;
                                width: 100%;
                                background-color:#111317;
                                display: flex;
                                align-items: center;
                                margin: auto;
                                justify-content: center;
                            }
                            .footerup{
                                display: none;
                            }
                        }