@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Nunito:wght@300;400;500&display=swap');
   

@media(max-width:600px){
    .footdownlow{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
}

*body{
    margin:0px;
    padding:0px;
    font-family: 'Inter',sans-serif;
}

.small{
    background-color:#111317;
    height:244px;
    width:auto;
    display:flex;
    flex-direction: column;
}
.icon{
    height: 42px;
    width:100%;
    display:flex;
    margin:7px 0 40px 0;
}
.locicon{
    height:36px;
    width:100%;
    color:#898D9A;
    display: flex;
    margin-bottom: 20px;
    margin-right:-5px;
}
.locicon>i{
    color:#898D9A;
    margin-left:10px;
}
.contactbtn{
    border:1px solid #898D9A;
    height:44px;
    width: 340px;
    text-align:left;
    border-radius: 6px;
    color:#898D9A;
    vertical-align: middle;
    display:flex;
    justify-content:left;
    align-items: center;
    font-size: 13px;
    margin-bottom: 20px;
}
.contactbtn>a{
    text-decoration: none;
    color:#898D9A;
    
}
.contactbtn>a>i{
    margin-left: 10px;
    margin-right: 10px;
}
.langchnage{
    border:1px solid #898D9A;;
    height:44px;
    width: 340px;
    border-radius: 5px;
    background-color:#111317;
    color:#898D9A;
    font-size:13px;
    text-align: left;
}
.icon>a{
    border:1px solid #898D9A;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 12px;
    text-decoration: none;
    color:#898D9A;
    height:110%;
    width:44px;
    margin:auto;
}
#address{
    font-size: 12px;
    height:100%;
    width: 316px;
    margin-left:15px;
}
.contactbtn:hover{
    color:white;
    border:1px solid white;
}
.contactbtn>a:hover{
    color:white;
}
.langchnage>a{
    margin-left: 10px;
}